<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th ="http://www.thymeleaf.org">
    <head th:replace = "~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <header th:replace = "~{layout/plantilla :: header}"/>

        <div class="container"> 
            <div class="row row-cols-3 mt-5">
                <div class="card"> 
                    <div class="card-header text-center">
                        [[#{reportes.usuarios}]]
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/usuarios?tipo=vPdf}"
                           class="btn btn-primary">
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Pdf}"
                           class="btn btn-success">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Xls}"
                           class="btn btn-danger">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Csv}"
                           class="btn btn-warming">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                    </div>
                </div>
                <div class="card"> 
                    <div class="card-header text-center">
                        [[#{reportes.ventas}]]
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/ventas?tipo=vPdf}"
                           class="btn btn-primary">
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Pdf}"
                           class="btn btn-success">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Xls}"
                           class="btn btn-danger">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Csv}"
                           class="btn btn-warming">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        [[#{reportes.totales}]]
                    </div>
                    <div class="card-body">
                        <form method="get" th:action="@{/reportes/ventasTotales}" class="was-validated">
                            <div class="mb-3">
                                <label for="fechaIni"> [[#{fecha.ini}]]</label>
                                <input type="date" class="form-control" id="fechaIni" name="fechaIni" th:value="${fechaInicio}" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="fechaFin"> [[#{fecha.fin}]]</label>
                                <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:value="${fechaFin}" required="true"/>
                            </div>
                            <!-- Complete the closing tag for the first date input -->
                    </div>
                    <div class="row">
                        <button name="tipo" value="vPdf" class="btn btn-primary">
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-file-pdf"></i>
                        </button>
                        <button name="tipo" value="Pdf" class="btn btn-success">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </button>
                        <button name="tipo" value="Xls" class="btn btn-danger">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </button>
                        <button name="tipo" value="Csv" class="btn btn-warning">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </button>
                    </div>
                    </form>
                </div>
            </div>


        </div>

        <footer th:replace = "~{layout/plantilla :: footer}"/>
    </body>
</html>